html {
	--color-back: #ececec;
	--color-main-lite: #b2dfdb;
	--color-main-semitransparent: rgba(0, 121, 107, 0.7);
	--color-main: #00796b;
	--color-text: #323232;
	--font-sans-serif: "Verdana", sans-serif;
	--font-serif: "Georgia", serif;
	--icon-toc: url("../../icons/toc.svg");

	font-size: 14px;
}

h1 {
	margin: 0 0 3rem;
	font-style: italic;
	font-size: 2.5rem;
	line-height: 3rem;
	font-family: var(--font-serif);
	color: var(--color-main);
}

h2 {
	margin: 3rem 0 1.5rem;
	scroll-margin-top: 5rem;
	font-style: italic;
	font-size: 1.75rem;
	line-height: 2rem;
	font-family: var(--font-serif);
}

a {
	border-radius: 0.25rem;
	outline: none;
	box-shadow: inset 0 0 0 2px transparent;
	transition-property: color, background-color, border-color, opacity, box-shadow;
}

::selection {
	background-color: var(--color-main-lite);
}

::-webkit-scrollbar {
	width: 0.125rem;
	background-color: var(--color-main-lite);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-main);
}

::-webkit-scrollbar-track {
	background-color: var(--color-main-lite);
}

@media (hover: hover) {
	a[href]:hover,
	a[href]:active {
		text-decoration: none;
		transition-duration: 0.2s;
	}

	a[href]:hover {
		color: var(--color-main);
		background-color: var(--color-main-lite);
		box-shadow: inset 0 0 0 2px var(--color-main);
	}

	a[href]:active {
		color: var(--color-paper);
		background-color: var(--color-main);
		box-shadow: inset 0 2px #0000004d;
	}

	a[href]:focus-visible {
		text-decoration: none;
		color: var(--color-main);
		background-color: var(--color-main-lite);
		box-shadow: inset 0 0 0 2px var(--color-main);
		transition-duration: 0.2s;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media print {
	html {
		--color-back: #ffffff;
		--color-main: #000000;
		--color-text: #000000;

		font-size: 12pt;
	}
}
