.content {
	flex-grow: 1;
}

.content--poem {
	display: table;
	margin-inline: auto;
}

.content--centered {
	flex-grow: 0;
	text-align: center;
}

.content p {
	font-size: 1.125rem;
	font-family: var(--font-serif);
}

.content--prose p {
	text-align: justify;
	text-indent: 1.25em;
}

.content--poem p {
	padding-left: 2rem;
	text-indent: -2rem;
}

@media print {
	.content {
		page-break-after: avoid;
	}
}
