.layout {
	position: fixed;
	inset: 0;
	overflow-x: auto;
	background-color: var(--color-back);
	scrollbar-color: var(--color-main) var(--color-main-lite);
	scrollbar-width: thin;
	scroll-behavior: var(--scroll-behavior);
	-webkit-overflow-scrolling: touch;
}

.layout__header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	min-width: 320px;
	color: var(--color-paper);
	background-image: linear-gradient(
		to right,
		var(--color-main) 0,
		var(--color-main-semitransparent) 40%,
		var(--color-main-semitransparent) 60%,
		var(--color-main) 100%
	);
	box-shadow: 0 2px 10px #00000080;
	user-select: none;
}

.layout__logo {
	--icon-size: 2.5rem;
	display: table;
	color: inherit;
	padding: 0.25rem 0.5rem;
}

.layout__logo::before {
	content: "";
	display: block;
	background-color: currentColor;
	width: var(--icon-size, 1.5rem);
	height: var(--icon-size, 1.5rem);
	mask: var(--icon-toc) no-repeat center / 100%;
}

.layout__amp-link {
	display: block;
	padding: 0.75rem 1rem;
	color: inherit;
	text-decoration: none;
}

.layout__main {
	min-width: 320px;
	height: 100%;
	overflow-y: scroll;
}

.layout__content {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	max-width: 928px;
	min-height: 100%;
	padding: 6rem 1.5rem 4.5rem;
	margin-inline: auto;
	background-color: var(--color-paper);
}

.layout__author {
	margin: 0;
	font-style: italic;
	font-size: 1.0625rem;
	text-align: right;
}

.layout__footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	min-width: 320px;
	background-color: var(--color-main);
	box-shadow: 0 -2px 10px #00000080;
}

@media (hover: hover) {
	.layout__logo[href]:active {
		background-color: transparent;
		box-shadow:
			inset -2px 2px #0000004d,
			-1px 1px 1px #ffffff80;
	}
}

@media (min-width: 480px) {
	.layout__content {
		padding: 6rem 3rem;
	}
}

@media (min-width: 768px) {
	.layout__content {
		padding: 6rem;
		box-shadow:
			0 0 2px #0000001f,
			0 2px 4px #0000003d;
	}
}

@media print {
	.layout__header,
	.layout__footer {
		display: none;
	}

	.layout__content {
		padding: 0;
		box-shadow: none;
	}
}
