.content--poem {
	display: table;
	margin-inline: auto;
}

.content p {
	hyphens: auto;
}

.content--prose p {
	text-indent: 1.25em;
}

.content--poem p {
	padding-left: 1.25em;
	text-indent: -1.25em;
}

@media print {
	.content {
		page-break-after: avoid;
	}
}
